services:
 server:
  build: .
  container_name: mailcow-scim-bridge
  restart: always
  volumes:
    - data:/data
  environment:
   # Bearer token for scim authentification
   SCIM_TOKEN: changeme
   # Mailcow api url
   MAILCOW_API_URL: https://mail.example.com/api/v1/
   # Mailcow api key
   MAILCOW_API_KEY: changeme
   # Skip ssl certificate verification
   SKIP_VERIFY_CERTIFICATE: false
   # Allow DELETE operations
   ALLOW_DELETE: true
   # Delete mailbox on DELETE
   MAILCOW_DELETE_MAILBOX: false
  ports:
   - "8081:8080"
  healthcheck:
   test: ["CMD-SHELL", "curl -f http://localhost:8080/healthz || exit 1"]
   interval: 30s
   timeout: 5s
   retries: 3
   start_period: 10s
   
volumes:
  data: